{% extends 'baseP.html' %}
{% load static %}
{% load materializecss %}

{% block title %} Login {% endblock %}
{% block content %}
<br>
<div >
    <div class="row">
        
        <div class="col s12 m4 offset-m4">
            
            <div class="card-panel white">
                <div class="card-action ">
                    <img src="/static/img/img.png" width="70%" alt="">
                </div>
                <form method="post">

                    {% csrf_token %} {{form|materializecss}}

                    <button type="submit" class="btn green" style="width: 100%;">Entrar</button>


                </form>
                

            </div>
        </div>
    </div>
</div>

{% endblock content %}
