{% extends 'baseP.html'%} {% load static %} {% block title %} Home {% endblock %} {% block content %}
<div class="container">
    <div class="card-content">
        <h4 class="title">Editais Aberto</h4>


        <div class="row">
        
            <ul class="collapsible ">
                {%for edital in editais_abertos %}
                    <li>
                    
                        <div class="collapsible-header"><i class="material-icons">format_list_bulleted</i>{{edital.titulo}}</div>

                   
                        <div class="collapsible-body">
                            <span>{{edital.descricao|truncatewords:5}}</span>
                            <a href="{%url 'editais:edital_view_inscri' edital.id%}" class="btn right">Mais Detelhes</a>

                        </div>

                    </li>
                {%endfor%}
            </ul>

        </div>

    </div>

    <div class="card-content">
        <h4 class="title">Editais Em Analise</h4>


        <div class="row">

            <ul class="collapsible ">
                {%for edital in editais_analise %}
                    <li>

                        <div class="collapsible-header"><i class="material-icons">format_list_bulleted</i>{{edital.titulo}}</div>


                        <div class="collapsible-body">
                            <span>{{edital.descricao|truncatewords:5}}</span>
                            <a href="{%url 'editais:edital_view_inscri' edital.id%}" class="btn right">Mais Detelhes</a>

                        </div>

                    </li>
                {%endfor%}
            </ul>

        </div>

    </div>





    <div class="card-content">
        <h4 class="title">Editais Fechado</h4>


        <div class="row">

            <ul class="collapsible ">
                {% for edital in editais_fechados %}
                    <li>

                        <div class="collapsible-header"><i class="material-icons">format_list_bulleted</i>{{edital.titulo}}</div>


                        <div class="collapsible-body">
                            <span>{{edital.descricao|truncatewords:5}}</span>
                            <a href="{%url 'editais:edital_view_inscri' edital.id%}" class="btn right">Mais Detelhes</a>

                        </div>

                    </li>
                {%endfor%}
            </ul>

        </div>

    </div>
</div>
{% endblock %}