{% load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=" {% static '/img/favicon.ico' %}" />

    <title>{% block title %}{% endblock %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Material-django CSS -->

    <!--css personalizado-->
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">


    <style>
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        
        .links>a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    </style>

</head>

<body>
    <header>

    </header>

    <nav class="navbar bar">

        <div class="nav-wrapper  ">
            <a href="" style="padding: 25px;"> <img src="/static/img/img.png" width="180x" style="padding: 10px;"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li>
                    <a href="{% url 'account_login'%}" class="top-right links black-text"> <b>LOGIN</b> </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Material-django JavaScript -->
    {% include 'material/includes/material_js.html' %}

    <script src="{% static '/js/jquery.formset.js' %}"></script>

    {% block scripts %} {% endblock scripts %}

</body>

</html>