{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href=" {% static '/img/favicon.ico' %}" />

    <title>{% block title %}{% endblock %}</title>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Material-django CSS -->
  {% include 'material/includes/material_css.html' %}


    <!--css personalizado-->
    <link rel="stylesheet" href="{% static '/css/styles.css'%}">

</head>

<body>
    <header>
        <ul  class="sidenav sidenav-fixed green darken-3 ">
            <li>
                <div class="user-view">
                    <div class="background">

                    </div>
                    {% if user.is_authenticated %}
                    {% if user.foto %}
                    <a href="#user"><img class="circle" src="/media/{{user.foto}}"></a>
                    {% else %}
                    <a href="#user"><img class="circle" src="/static/img/user.png"></a>
                    {% endif %}

                    <a href="#name"><span class="white-text name">{{user.username}}</span></a>
                    <a href="#email"><span class="white-text email">{{user.first_name}}</span></a>
                    <a href="#email"><span class="white-text email">{{user.email}}</span></a>
                    {% else %}
                    <a href="#user"><img class="circle" src="/static/img/user.png"></a>
                    <a href="#name"><span class="white-text name">SCA</span></a>
                    <a href="{% url 'account_login' %}"><span class="white-text email">Entrar</span></a>
                    {% endif %}

                </div>
            </li>
            <li class="divider green" tabindex="-1"></li>
            <li ><a href="{% url 'core:home' %}">Home</a></li>
            <li class="divider green" tabindex="-1"></li>
            <li><a href="{% url 'editais:edital_list' %}">Editais</a></li>
            <li class="divider green" tabindex="-1"></li>
            <li><a href="{% url 'editais:inscricao_list' %}">Inscrições</a></li>
            <li class="divider green" tabindex="-1"></li>
            <li><a href="{% url 'account_logout' %}">Sair</a></li>


        </ul>

    </header>


    <div class="container">


        <main>

            {% block content %}{% endblock %}
        </main>



    </div>







    <!--JQuery-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

   <!-- Material-django JavaScript -->
    {% include 'material/includes/material_js.html' %}
    <!--js personalizado-->
    <script src="{% static '/js/scripts.js' %}" >

    </script><script src="{% static '/js/jquery.formset.js' %}" ></script>

    {% block scripts %}{%endblock%}

</body>

</html>