{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block title %} Inscrição {% endblock %}

{% block content %}
<div class="espacamento">
    <div class="card">
        <span class="card-title">Editar Inscrição</span>

        <div class="card-content">

            <form method="post" enctype="multipart/form-data" >
                {%csrf_token%}
                <div class="input-field col s12 " >
                    <input id="edital_titulo" type="text" name="edital_titulo" value="{{inscricao.edital.titulo}}" readonly>
                    <label for="edital_titulo">Edital</label>
                </div>

                {% for resp in inscricao.resposta_set.all%}
                <div class="input-field col s12 " >

                    {%if resp.pergunta.is_aberta == True%}
                    <input type="text" id="pergunta-{{resp.pergunta.id}}" name="pergunta-{{resp.pergunta.id}}" value="{{resp.resposta_aberta}}" required>
                    <label for="pergunta-{{resp.pergunta.id}}">{{pergunta.descricao}}</label>

                    {%elif resp.pergunta.has_arquivo == True%}

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" id="arquivo-{{resp.pergunta.id}}" name="arquivo-{{resp.pergunta.id}}" value="{{MEDIA_URL}}{{ resp.arquivo}}" >
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                    {%else%}
                    <select name="pergunta-{{resp.pergunta.id}}" required>
                        <option value="" disabled selected>Escolha uma Opção</option>
                        {%for alternativa in resp.pergunta.alternativa_set.all%}

                            {% if alternativa.id == resp.alternativa.id %}
                                <option value="{{alternativa.id}}" selected>{{alternativa.descricao}}</option>
                            {%else%}
                                <option value="{{alternativa.id}}">{{alternativa.descricao}}</option>
                            {%endif%}
                        {%endfor%}
                    </select>
                    <label>{{pergunta.descricao}}</label>

                {%endif%}



                </div>
                {%endfor%}
                <a href="#" class="btn btn-deletar ">Cancelar</a>
                <button type="submit" class="btn btn-salvar " >Salvar</button>


            </form>
        </div>

    </div>
</div>


{% endblock %}