{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block title %} Inscrições {% endblock %}

{% block content %}
    <div class="row">
        <table class="striped responsive-table" >
            <thead>
              <tr>
                  <th>Id</th>
                  <th>Aluno</th>
                  <th>Edital</th>
                  <th>Situação</th>
                  <th>Pontos</th>
                  <th>Opções</th>
              </tr>
            </thead>
            <tbody>
            {%for inscricao in inscricao_list%}
                 <tr>
                     <td>{{inscricao.id}}</td>
                     <td>{{inscricao.user.first_name}}</td>
                     <td>{{inscricao.edital.titulo}}</td>
                     {%if inscricao.status == "an"%}
                        <td class = " yellow accent-2">{{inscricao.get_status_display}}</td>
                     {%endif%}
                     {%if inscricao.status == "ap"%}
                        <td class=" teal lighten-1">{{inscricao.get_status_display}}</td>
                     {%endif%}
                     {%if inscricao.status == "re"%}
                        <td class = " red darken-3">{{inscricao.get_status_display}}</td>
                     {%endif%}
                     <td>{{inscricao.nivel}}</td>
                    <td><a href="{% url 'editais:inscricao_view' inscricao.id %}" class="blue-text"> Avaliar </a></td>
                  </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}