{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block title %} Inscrições {% endblock %}

{% block content %}
    <div class="row">
        <table class="highlight">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Edital</th>
            </tr>
            </thead>
            {%for inscricao in inscricao_list%}
                <tr>
                    <td>{{inscricao.user.username}}</td>
                    <td>{{inscricao.edital}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>

{% endblock %}