{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block title %} Inscrição {% endblock %}

{% block content %}
    <div class="row">

        <table>
            <thead>
                <tr>
                    <th colspan="3">Edital: {{inscricao.edital}}</th>
                    <th colspan="2">Situação: {{inscricao.get_status_display}}</th>

                </tr>
                <tr>
                    <th colspan="5">Nome: {{inscricao.user.first_name}} {{inscricao.user.last_name}}</th>
                </tr>

                <tr>
                    <th colspan="3">Pergunta</th>
                    <th colspan="2">Resposta</th>
                </tr>
        </thead>
        <tbody>
        {%for resp in inscricao.resposta_set.all%}
            <tr>
                <td colspan="3">{{resp.pergunta}}</td>
                {%if resp.pergunta.is_aberta%}
                    <td colspan="2">{{resp.resposta_aberta}}</td>
                {%elif resp.pergunta.has_arquivo %}
                    <td colspan="2">
                        <a href="/media/{{resp.arquivo }} " target='_blank'>Arquivo</a>

                    </td>
                {%else%}
                    <td colspan="2">{{resp.alternativa}}</td>
                {%endif%}
            </tr>
        {% endfor %}
        </tbody>

        </table>

        {%if inscricao.edital.status == "ab"%}
            <a href="{% url 'editais:inscricao_edit' inscricao.id%}" class="btn">Editar</a>
        {%elif inscricao.edital.status == "fn"%}
            <a href="{% url 'editais:resultado_edital' inscricao.edital.id%}" class="btn button blue">Resultados</a>

        {%endif%}


    </div>

{% endblock %}