{% extends 'base.html'%} {% load static%} {% load material_form %} {%block title%} Novo Edital {%endblock%} {% block content %}
<div class="row">
    <div class="espacamento">

        <form method="POST" method="post" enctype="multipart/form-data" class="col s12 ">
            <div class="card-content">
                <h4 class="title">Novo Edital</h4>

                <div class="row">
                    <div class="col s12">
                        {% csrf_token %} {% form form=form %}{% endform %}
                    </div>

                    <div class="right">
                        <a href="{% url 'editais:edital_list' %}" class="btn btn-deletar red">Cancelar</a>
                        <button type="submit" class="btn btn-salvar green">Salvar</button>
                    </div>
                </div>



        </form>
        </div>
    </div>


    {% endblock %}